@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?kghmr1');
    src: url('../fonts/icomoon.eot?kghmr1#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?kghmr1') format('truetype'),
        url('../fonts/icomoon.woff?kghmr1') format('woff'),
        url('../fonts/icomoon.svg?kghmr1#icomoon') format('svg');

    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-Shape_8:before {
    content: "\e900";
    /* color: #00aeef; */
}

.icon-Shape_10:before {
    content: "\e905";
    /* color: #00aeef; */
}

.icon-Shape_11:before {
    content: "\e906";
    /* color: #00aeef; */
}

.icon-facebook:before {
    content: "\e907";
    /* color: #3b5998; */
}

.icon-linkedin:before {
    content: "\e908";
}

.icon-twitter:before {
    content: "\e909";
}

.icon-youtube .path1:before {
    content: "\e90a";
    /* color: rgb(224, 47, 47); */
}

.icon-youtube .path2:before {
    content: "\e90b";
    margin-left: -1em;
    /* color: rgb(255, 255, 255); */
}

.icon-Shape_7:before {
    content: "\e90c";
    /* color: #00aeef; */
}

.icon-nav-burger .path1:before {
    content: "\e901";
    /* color: rgb(80, 148, 242); */
}

.icon-nav-burger .path2:before {
    content: "\e902";
    margin-left: -1.318359375em;
    /* color: rgb(255, 255, 255); */
}

.icon-nav-burger .path3:before {
    content: "\e903";
    margin-left: -1.318359375em;
    /* color: rgb(255, 255, 255); */
}

.icon-nav-burger .path4:before {
    content: "\e904";
    margin-left: -1.318359375em;
    /* color: rgb(255, 255, 255); */
}


@font-face {
    font-family: 'Avenir Next Rounded Std';
    src: url('../fonts/AvenirNextRoundedStd-Italic.eot');
    src: local('Avenir Next Rounded Std Italic'), local('AvenirNextRoundedStd-Italic'),
        url('../fonts/AvenirNextRoundedStd-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirNextRoundedStd-Italic.woff2') format('woff2'),
        url('../fonts/AvenirNextRoundedStd-Italic.woff') format('woff'),
        url('../fonts/AvenirNextRoundedStd-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Rounded Std';
    src: url('../fonts/AvenirNextRoundedStd-BoldIt.eot');
    src: local('Avenir Next Rounded Std Bold Italic'), local('AvenirNextRoundedStd-BoldIt'),
        url('../fonts/AvenirNextRoundedStd-BoldIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirNextRoundedStd-BoldIt.woff2') format('woff2'),
        url('../fonts/AvenirNextRoundedStd-BoldIt.woff') format('woff'),
        url('../fonts/AvenirNextRoundedStd-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Rounded Std';
    src: url('../fonts/AvenirNextRoundedStd-Reg.eot');
    src: local('Avenir Next Rounded Std Regular'), local('AvenirNextRoundedStd-Reg'),
        url('../fonts/AvenirNextRoundedStd-Reg.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirNextRoundedStd-Reg.woff2') format('woff2'),
        url('../fonts/AvenirNextRoundedStd-Reg.woff') format('woff'),
        url('../fonts/AvenirNextRoundedStd-Reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Rounded Std';
    src: url('../fonts/AvenirNextRoundedStd-Med.eot');
    src: local('Avenir Next Rounded Std Medium'), local('AvenirNextRoundedStd-Med'),
        url('../fonts/AvenirNextRoundedStd-Med.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirNextRoundedStd-Med.woff2') format('woff2'),
        url('../fonts/AvenirNextRoundedStd-Med.woff') format('woff'),
        url('../fonts/AvenirNextRoundedStd-Med.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Rounded Std';
    src: url('../fonts/AvenirNextRoundedStd-DemiIt.eot');
    src: local('Avenir Next Rounded Std Demi Italic'), local('AvenirNextRoundedStd-DemiIt'),
        url('../fonts/AvenirNextRoundedStd-DemiIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirNextRoundedStd-DemiIt.woff2') format('woff2'),
        url('../fonts/AvenirNextRoundedStd-DemiIt.woff') format('woff'),
        url('../fonts/AvenirNextRoundedStd-DemiIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Rounded Std';
    src: url('../fonts/AvenirNextRoundedStd-MedIt.eot');
    src: local('Avenir Next Rounded Std Medium Italic'), local('AvenirNextRoundedStd-MedIt'),
        url('../fonts/AvenirNextRoundedStd-MedIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirNextRoundedStd-MedIt.woff2') format('woff2'),
        url('../fonts/AvenirNextRoundedStd-MedIt.woff') format('woff'),
        url('../fonts/AvenirNextRoundedStd-MedIt.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Rounded Std';
    src: url('../fonts/AvenirNextRoundedStd-Demi.eot');
    src: local('Avenir Next Rounded Std Demi'), local('AvenirNextRoundedStd-Demi'),
        url('../fonts/AvenirNextRoundedStd-Demi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirNextRoundedStd-Demi.woff2') format('woff2'),
        url('../fonts/AvenirNextRoundedStd-Demi.woff') format('woff'),
        url('../fonts/AvenirNextRoundedStd-Demi.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Rounded Std';
    src: url('../fonts/AvenirNextRoundedStd-Bold.eot');
    src: local('Avenir Next Rounded Std Bold'), local('AvenirNextRoundedStd-Bold'),
        url('../fonts/AvenirNextRoundedStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirNextRoundedStd-Bold.woff2') format('woff2'),
        url('../fonts/AvenirNextRoundedStd-Bold.woff') format('woff'),
        url('../fonts/AvenirNextRoundedStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}