.card-img > img {
  height: 41px;
  width: auto;
  margin-bottom: 22px;
}

.card {
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
}

.card-text {
  color: white;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
  flex-grow: 1;
  line-height: 23.98px;
}

.grid-item-card {
  padding: 10px;
  margin-bottom: 100px;
}

.card-title {
  padding-top: 20px;
  color: white;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 23px;
}

.green-icon {
  padding-top: 20px;
  font-size: 46px;
  color: white;
  padding-bottom: 20px;
}
.life-card-img {
  object-fit: cover;
}
